.contact-wrapper{
    color: var(--main-text-color);

    position: fixed;
    left:0;
    bottom:0;
    z-index:10;
}

.contact-button{
    margin-left:1em;
    margin-bottom:1em;
}


a svg {
    width: 20px;
    height: 20px;
    fill:var(--main-text-color)!important;
    transition:transform 0.3s ease-in-out;
    /*opacity:100%;*/
}

a svg:hover{
    transform: scale(1.4);
    cursor:pointer;
}

.night-button{
    fill:var(--accent-color-1)!important;
    /*opacity:100%;*/
}