
.skills-title{
  color:var(--main-text-color);
  margin-top:2em;
  font-weight: bolder;
}

.skills-title:hover{
  cursor:default;
}

.section-header{
  font-weight: bold;
}
.skill-header{
  color:var(--accent-color-1);
  padding-bottom: 1rem;
}


.skills-window{
  backdrop-filter:brightness(10%) blur(10px);
  border-radius: 0.5em;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-top:2em;
  margin-bottom:1em;
  transition:transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media(min-width: 992px){
.skills-window:hover{
  transform: scale(1.05, 1.05);
}
}

.skills-header:hover{
    cursor: default;
}
.skill-list{
  margin-right:0;
  padding:0;
}

.fill-width{
  width:100%;
  cursor:default;

}


.skills-content-wrapper{
  height:100%;
  padding-bottom: 15vh;
}



#skills-wrapper {
  --x: 0px;
  --y: 0px;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  background-position: var(--x) var(--y);
  z-index: -100;
  background-image: url("./icons.svg");
  background-repeat: repeat;
}



.skills-content {
  color:var(--light);
  padding:0;
  opacity:1;
}

#skills {
  background-color: transparent;
  margin-top: 10em;
  margin-bottom: 10em;
  border-radius: 0.5em;
}


.skill-item {
  font-size:1.1em;
  padding: 0.3em;
  transition:transform 0.2s ease-out;
}

.skill-item:hover{
  transform:scale(1.3, 1.3);
  cursor:default;
}