#about{
    background-color:  transparent;
    margin:2em;
    border-radius:0.5em;
    height:100vh;
}

img{
    vertical-align: middle;
    border-style: none;
}

.masthead-profile{
    width:10em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.description-para{
    color: #bac2d6;
}

.projects-button{
    margin-top: 1em;
}

.about-stuff{
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}