#about{
    background-color:  transparent;
    margin:2em;
    border-radius:0.5em;
    height:100vh;
}

img{
    vertical-align: middle;
    border-style: none;
}

.masthead-profile{
    width:10em;
}

.about-me-paragraph{
    color: var(--main-text-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width:80%;
}


.about-stuff{
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}


.skills-btn{
    margin-top:1em;
    border: 1px solid var(--accent-color-1);
}