.contact-wrapper{

    color: var(--main-text-color);
    width:5%;
    position: sticky;
    position: -webkit-sticky;
    top:45%;
    bottom: 0; /* required */
    z-index:10;
}

.contact-button{
    margin-left:0.4em;
    margin-bottom:1em;
    
}



a svg {
    width: 20px;
    height: 20px;
    fill:var(--main-text-color)!important;
    transition:transform 0.2s;
    /*opacity:100%;*/
}

a svg:hover{
    transform: scale(1.1);
    cursor:pointer;
}

.night-button{
    fill:var(--accent-color-1)!important;
    /*opacity:100%;*/
}