.contact-wrapper{
    position: fixed;
    bottom:0em;
    left:0em;
    color: var(--main-text-color);
    z-index:10;
}

.contact-button{
    margin:1em;
    margin-bottom:2em;
    
}



a svg {
    width: 30px;
    height: 30px;
    fill:var(--main-text-color)!important;
    /*opacity:100%;*/
}

.night-button{
    fill:var(--accent-color-1)!important;
    /*opacity:100%;*/
}