#footer{
    background-color: var(--main-text-color);
    height:20vh;
}

#footer-text{
    margin-top:5%;
    color:var(--main-bg-color);
    text-align: center;
}

#back{
    width:30%;
    margin-left:35%;
    margin-right:35%;
    border-radius: 0.1em;
    background-color: var(--main-bg-color);
    color:var(--main-text-color)!important;
    text-align:center!important;
    cursor:pointer;
}
