


#home{
    height:100vh;
}

#name-header{
    color:#d7dce2;
    
    font-size: 5em;
    transition: font-size 0.2s;
    transition-timing-function: ease-out;
    text-shadow: 3px 3px 6px #000000;

}
#name-header:hover{
    font-size:6em;

}
#landing-tagline{
    color:#a2aabc
}

.landing-stuff{
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}


.proj-title-left{
    color: #ef6b73;
    text-align: left;
}
.proj-title-right{
    color: #ef6b73;
    text-align:right;
}