ul{
    list-style-type:none;
    padding-left:0.5em;
    padding-right:0.5em;
    margin-left:0.5em;
    margin-right:0.5em;
}



.project-description-left{
    text-align:left;
}

.project-description-right{
    text-align:right;
}

.project-description-text{
    color:white;
}


.project-card{
    margin-top:2em;
    margin-bottom:2em;
    padding-top:2em;
    padding-bottom:2em;
    border-radius: 0.25em;
}


.project-image{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.project-description{
    background-color: #2f3b54;
    padding:2em;
    width:40em;
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.description-col{
    display: flex;
    
    align-items: center;
}