ul{
    list-style-type:none;
    padding-left:0.5em;
    padding-right:0.5em;
    margin-left:0.5em;
    margin-right:0.5em;
}



.project-description-left{
    text-align:left;
    
}

.project-description-right{
    text-align:left;
}

.project-description-text{
    color:EFF1F3;
}


.project-card{
    margin-top:2em;
    margin-bottom:2em;
    padding-top:2em;
    padding-bottom:2em;
    border-radius: 0.25em;
}


.project-image{
    max-width: 100%;
    max-height:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform:scale(1.0);
    transition: transform 0.3s;
    transition-timing-function: ease-out;
    border-radius: 0.4em;
    z-index:-1;

}

.project-image:hover{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform:scale(0.9);
}

.project-description{
    
    height:100%;
    margin:auto;
    color:#EFF1F3;
    position:relative;
    padding:2em;
    width:100%;
    vertical-align: middle;
    text-decoration: none;
    
    position:relative;
    z-index:2;
}


.description-col{
    display: flex;
    border: 1px solid #EFF1F3;
    border-radius: 0.4em;
    align-items: center;
}

.proj-tag{
    margin-left:0.25em;
    margin-top:0.5em;
    margin-right:0.25em;
    background-color: #1d2433;
    padding:0.5em;
}

.project-card-mobile{
    max-width:100%;
}

.project-card-mobile img{
    max-width:100%;
}

.proj-title-mobile{
    color: #EFF1F3;
    font-size:2em;
    margin-bottom:0.5em;
    text-align:center;
}

.project-description-mobile{
    margin-top:1em;
    color:#EFF1F3;
}

.proj-title-left{
    margin-top:1em;
    color: #EFF1F3;
    text-align: center;
}
.proj-title-right{
    margin-top:1em;
    color: #EFF1F3;
    text-align:center;
}

.desc-right{
    height:100%;
}
.desc-left{
    height:100%;
}