ul{
    list-style-type:none;
    padding-left:0.5em;
    padding-right:0.5em;
    margin-left:0.5em;
    margin-right:0.5em;
}



.project-description-left{
    
    text-align:left;
}

.project-description-right{
    text-align:right;
}

.project-description-text{
    color:white;
}


.project-card{
    margin-top:1em;
    margin-bottom:1em;
    padding-top:1em;
    padding-bottom:1em;
    border: 1px solid white;
    border-radius: 0.25em;
}


.project-image{
    width: 20em;
}