#skills{
    background-color:  transparent;
    margin-top: 10em;
    margin-bottom:10em;
    border-radius:0.5em;
}


.projects-button{
    margin-bottom:5em;
    border: 1px solid var(--accent-color-1);
    border-radius: 0.4em;
    text-align:center;
    margin-left: 35%;
    width:30%;
    color:var(--main-text-color);
    transition: transform 0.2s;
}
.skills-stuff{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, 0%);
}


.skill-card{
    text-align: center;
    margin-bottom:5em;
}

.skill-card-title{
    text-align: center;
    color: var(--main-text-color);
    margin-left:0%;
    width:100%;
    padding-bottom:0.25em;
    
    transition: transform 0.3s;
    transition-timing-function: ease-out;
    
}

.skill-card-title:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.short-skill-list{
    text-align: center;
    border-top: 1px solid var(--accent-color-1);
    color: var(--main-text-color);
    font-size: 1.5em;
}

.main-skill-item{
    margin-left:1%;
    margin-right:1%;
    padding-top:0.1em;
    padding-bottom:0.2em;
    font-size: 0.75em;
}

.skill-modal{
    background-color: var(--main-bg-color)!important;
}

.modal-content{
    background-color:var(--main-bg-color)!important;
    color: var(--main-text-color)!important;
}

.skill-item{
    font-size: 0.8em;
    margin-left:1%;
    margin-right:1%;
    padding-top:0.1em;
    padding-bottom:0.2em;
    padding-left:0.5em;
    padding-right:0.5em;
}

 .modal-dialog {
    max-width: 80%;
    margin: 2rem auto;
}

.modal-title{
    text-align:center;
}

.exit-button{
    position:relative;
    background-color: transparent;
    color: var(--main-text-color);
    border: 1px solid var(--accent-color-1);
    border-radius: 0.4em;
    left:50%;
    max-width:5em;
    margin-bottom:2em;
    transition: transform 0.3s;
    transform:translateX(-50%);
}

.exit-button:hover{
    background-color: transparent;
    color: var(--main-text-color);
    border: 1px solid var(--accent-color-1);
}

.more-btn{
    border: 1px solid var(--accent-color-1);
    font-size: 0.75em;
    border-radius: 0.2em;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.1em;
    padding-bottom:0.1em;
    margin-left:1%;
}

.more-btn:hover{
    transform: scale(1.1);
    cursor:pointer;
}