:root {
  --main-bg-color: #EFF1F3;
  --main-text-color: #080705;
  --accent-color-1: #C52233;
}



.App {
  text-align: center;
}
html{
  background-color: var(--main-bg-color)!important;
}
body{
  background-color:var(--main-bg-color)!important;
}

.body:empty {
  background: black;
}