.navbar-collapse {
  position: fixed;
  right: 1em;
  top: 0em;
  z-index: 999;
  display: inline-block;
}


.nav-small-item{
    background-color: red;
}

.modal-content{
    margin:0;
}

.modal-dialog{
    margin:0;
}

.modal-header{
    margin:0;
    padding:0;

}

.modal-body{
    margin:0;
    padding:0;
}


modal-backdrop{
    width:100%;
    height:100%;
}
.hamburger-react {
  margin-right: 0;
  position: fixed !important;
  z-index: 999;
  right: 2em;
  top: 1em;
}

@media (max-width: 992px) {
  .navbar-large {
    visibility: hidden;
  }
  .navbar-small {
    visibility: visible;
  }
}

@media (min-width: 992px) {
  .navbar-large {
    visibility: visible;
  }
  .navbar-small {
    visibility: hidden;
  }
}
.nav-large-item {
  display: inline-block;
}

.resume-btn {
  background-color: transparent !important;
  color: var(--main-text-color) !important;
  border: 1px solid var(--accent-color-1) !important;
  transition: transform 0.2s;
}

.resume-btn:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
