.site-nav{
    position: fixed!important;
    z-index: 999!important;
    background-color: transparent;
    justify-content: end;
    text-align:right;
    position: fixed!important;
    transition:transform 0.2s;
    right:1em;

}


#site-nav-toggle{
    text-align: left;
    justify-content: left;
    fill:var(--accent-color-1)!important;
    background-color:var(--main-bg-color);
    position:fixed;
    top:1em;
    left:1em;
}


.navbar-dark .navbar-toggler-icon{
    background-color:var(--main-bg-color);
}


.navbar-collapse{
    position: static;
    margin-top: 1em;
}
.btn .btn-outline-light:hover{
    background-color: transparent!important;
}

.navbar-toggler{
    border: 1px solid var(--accent-color-1)!important;
    position: relative;
}

.navbar-toggler:active{
    border: 1px solid var(--accent-color-1)!important;
}

.navbar-toggler::after, ::before{
    border: 1px solid var(--accent-color-1)!important;
}
.navbar-toggler:hover{
    border: 1px solid var(--accent-color-1)!important;
}

.navbar-dark .navbar-toggler {
    color: var(--accent-color-1)!important;
    border: 1px solid var(--accent-color-1)!important;
}